<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>JX-自定义等高cell（storyboard）.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>26149C6A1CC519A000F3C7B0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>26149C831CC519A100F3C7B0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>26149C8E1CC519A100F3C7B0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
